<h1>Sign up
    <form action="/auth/signup" method="post">
        <section>
            <label for="username">email/Username</label>
            <input id="username" name="username" type="text" autocomplete="username" required>
        </section>
        <section>
            <label for="password">Password</label>
            <input id="password" name="password" type="password" autocomplete="new-password" required>
        </section>
        <section>
            <label for="first_name">First Name</label>
            <input id="first_name" name="first_name" type="text" autocomplete="given-name" required>
        </section>
        <section>
            <label for="last_name">Last Name</label>
            <input id="last_name" name="last_name" type="text" autocomplete="family-name" required>
        </section>
        <section>
            <label for="address">address</label>
            <input id="address" name="address" type="text" autocomplete="address" required>
        </section>
        <button type="submit">Sign up</button>